@import url('https://fonts.googleapis.com/css2?family=Alien+Block&family=Russo+One&display=swap');



* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Russo One ";
}

body {
    background-color: #263556;
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;

}

.navbar {
    position: fixed;
    z-index: 99999;
    width: 100%;
}

.navbar ul {
    display: flex;
    margin-left: 48%;
    font-size: 22px;
    text-transform: uppercase;
}

.navbar ul li {
    list-style: none;
    margin-right: 30px;
    color: white;
    letter-spacing: 1px;
}

.left {
    width: 45%;
    height: 100%;
}

.left .bg {
    position: relative;
}



.left .bg .img {
    position: absolute;
    top: 15%
}

.right {
    width: 55%;
    height: 100%;
    padding-left: 80px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-up {
    display: flex;
    flex-direction: column;
}

.box-up .btn-box {
    display: flex;
    flex-direction: row;
}

.box-up h1 {
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 25px;

}

.box-up .btn-box button {
    width: 210px;
    height: 70px;
    border: 0;
    border-radius: 50px;
    font-size: 1.3em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
}

.box-up .btn-box .btn-detail button {
    background: linear-gradient(to left, #712fe7, #9e11f9);
    box-shadow: 0px 0px 10px #9e11f9;
    margin-right: 10px;
    box-sizing: border-box;
}

.box-up .btn-box .buy button {
    background: transparent;
    border: 2px solid #9e11f9;
    width: 230px !important;
}

.trait {
    width: 500px;
    height: 2px;
    background: linear-gradient(to right, #445682, #263556);
    border-radius: 50px;
    margin: 50px 0;
}
.icon-boxes{
    display: flex;
}